// ------------------------------
//
//  Prid' : CSS Basics & Typo
// 
// ------------------------------


// Basics


html {
	font-size: .625em; 				/* fallback IE8+ */
	font-size: calc(1em * .625); 	/* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

body {
	font-size: 1.6em; 				/* base font-size is equivalent "14px" */
    line-height: 1.5;
}


// Typography


p, 
ul, ol, dl, 
blockquote, 
pre, 
td, th, 
textarea,
label, legend, figcaption, 
hgroup, address,
time, span,
small {
    font-size: 1em;				/* equiv 16px */ 			
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0 0 1.5em 0;
}

h1, 
.h1-like {
    font-size:  1.75em; 		/* equiv 28px */
    font-size: 2.8rem;
    line-height: 1.7142;
    margin: 0 0 .8571em 0;
}
h2, 
.h2-like {
    font-size:  1.625em; 		/* equiv 26px */
     font-size: 2.6rem;
   line-height: 1.8462;
    margin: 0 0 .9231em 0;
}
h3, 
.h3-like {
    font-size:  1.5em; 			/* equiv 24px */
    font-size: 2.4rem;
	line-height:  1;
    margin: 0 0  1em 0;
}
h4, 
.h4-like {
    font-size:  1.375em; 		/* equiv 22px */
    font-size: 2.2rem;
    line-height:  1.0909;
    margin: 0 0  1.0909em 0;
}
h5, 
.h5-like {
    font-size:  1.25em; 		/* equiv 20px */
    font-size: 2rem;
    line-height:  1.2;
    margin: 0 0  1.2em 0;
}
h6, 
.h6-like {
    font-size:  1.125em; 		/* equiv 18px */
    font-size: 1.8rem;
    line-height:  1.3333;
    margin: 0 0  1.3333em 0;
}

li p,
li ul {
    margin-top: 0;
    margin-bottom: 0;
}

em, i {font-style: italic;}
strong, b {font-weight: bolder;}

a {
	color: inherit;
	background-color: transparent;
}
a:hover {
	text-decoration: none;
}

blockquote, q {
	padding: .75em 0 .75em 1.5em;
	border-left: #999 2px solid;
	font-style: italic;
}
blockquote p {
	margin-bottom: 0;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 75%;
}


// Code stuff


code, pre, samp, kbd {
	white-space: pre-line; // IE fix
	white-space: pre-wrap;
	font-family: 'Andale Mono', 'DejaVu Sans Mono', Courier, monospace;
	font-size: 1em;
	line-height: 1;
}

kbd {
	padding: 0 2px;
	border: 1px solid #999;
	border-radius : 2px;
}

code, pre {
	background-color: #eee;
	color: #999;
}
code {padding: .5em;}

pre {
	padding: .5em 1.5em;
	border: #ccc 1px dashed;
	white-space: pre-line;
}

mark {
	padding: .5em;
	background: #ff0;
}

.error {
	padding: .5em;
	background: red; color: #fff;
}


// Max values


img, td,
blockquote, code, pre,
textarea, input, video {
	max-width: 100%;
}


// Lists


ul, ol {padding-left: 1.5em;}

ul {list-style-type: circle;}
ol {list-style-type: decimal;}

nav ul, nav ol {
	padding: 0; 
	margin: 0; 
	list-style-type: none;
}

li ul, li ol {
	margin-top: 0; 
	margin-bottom: 0;
}


// Images


img {
	height: auto;
	border: 0;
	border-style: none;
}

figure {
	overflow: hidden;
}
figure img {
	display: block;
	width: 100%; height: auto;
}
figcaption {
	font-size: .85em; line-height: 1;
	margin: .5em 0;
}


// Tables


.table-container {
	width: 100%; overflow-x: auto;
}

table {
    margin-bottom: 1.5em;
}
thead {font-weight: bold;}
thead td {background-color: #efefef;}

td {padding: 8px; border: #ccc 1px solid;}


// Misc


hr {
  box-sizing: content-box;
  height: 0; 
  overflow: visible;
}



/* ------------------------------
//
//  Print
// 
// ------------------------------ */


@media print {
	
	[class*="col-"] {display: block; float: left;}   // @fix: FF print issue

}	
