/* Prid'x Demo Awsome styles */


@import 'css/_typography.scss';
@import 'css/_forms.scss';



body {
	background: #538E94 url(img/pattern1.svg) center top repeat;
	background-size: 49px 49px;
	background-color: #b9ddf0;
}

.inner {
	max-width: 1040px; margin: 0 auto;
}


/* HEADER */


#site_head {
	position: relative;
	padding: 3.1em 0; 
	margin-bottom: 2em;
	background: #000 url(img/building-grid.jpg) center center no-repeat;
	background-size: cover;
}
#site_head::before {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	content: "";
	background: rgba(0,0,0,0.4) url(img/dot-pattern.png) center center repeat;
}



.site-brand {
	position: relative;
	z-index: 50;
}
.site-brand::before {
	display: block; content: "";
	width: 310px; height: 260px;
	margin: 0 auto;
	background: url(img/sprite.svg) 0 -70px no-repeat;
	background-size: 500px 500px;
}

.site-title, .site-desc {
	text-align: center;
	margin-bottom: 0;
	color: #fff;	
}
.site-desc {
	font-size: 1.3em;
}


/* MENU */


#menu {
	position: fixed;
	width: 100%;
	left: 0; top: 0;
	z-index: 50;
	
}

.main-menu {
	text-align: center;
	transition: background .6s ease-in-out;
}
.main-menu li {
	color: #fff;
	display: inline-block;
	font-family: 'Share-Bold', Helvetica, sans-serif;
	text-transform: uppercase;
}

	@media screen and (min-width: 480px) {
		.main-menu li {
			margin: 0 .5em;
		}
	}


.main-menu li a {
	padding: .3125em;
	text-decoration: none;
	display: block;
}
.main-menu li a.active {background-color: #fff; color: #000;}
	
	@media screen and (min-width: 1060px) {
		
		.main-menu li {
			margin: 0 1em;
		}
		.main-menu li a {
			transition: background .2s ease-in-out;
		}
		.main-menu li a:hover {
			background-color: #fff; color: #000;
		}
		
	}

.shrinked .main-menu {
	background-color: rgba(0, 155, 232, 0.91);
}


/* CONTENT */


p, 
ul, ol, dl, 
blockquote, 
pre, 
td, th, 
textarea,
label, figcaption, hgroup, address,
time, span,
small {
	font-family: 'Share-Regular', Helvetica, sans-serif;
}

p {
	font-size: 1.8rem;
}

h1, h2, h3, strong, b {
	font-family: 'Share-Bold', Helvetica, sans-serif;
	font-weight: normal;
}

em, i {
	font-family: 'Share-Italic', Helvetica, sans-serif;
	font-style: normal;
}
code, pre {
	font-family: 'Share-TechMono', 'Andale Mono', 'DejaVu Sans Mono', Courier, monospace;	
}
code {padding: .1em;}
pre {
	text-align: left;
	border-color: #009CE8;
}



.pridx-section {
	padding: .625em 0;
	text-align: center;
}
.section-header {
/* 	text-align: center; */
}

.section-title {
	position: relative;
	display: inline-block;
	padding: .3125em;
	margin: 0 auto 0 auto;
	margin: 1em 0;
	background-color: #fff;
	text-transform: uppercase;
	border-bottom: #009CE8 2px solid;
	color: #009CE8;
}

.section-title::before {
	content: "";
	display: block;
	width: 4px; height: 4px; border-radius: 2px;
	background-color: #009CE8;
	margin: 0 auto .3em auto;
}
.section-subtitle {
	text-align: center;
	text-shadow: 0 1px #fff; 
	margin: 1.5em 0;
}


.grid {
	width: 100%;
}
.grid p {
	background-color: #fff;
	padding: .3125em;
	margin: 0;
	border-radius: 2px;
	color: #a1cce1;
}







/* FOOTER */


#site_foot {
	background-color: #fff;
	text-align: center;
	padding-bottom: 50px;
}


#scrolltotop {display: none;}

#scrolltotop button {
	display: block;
	width: 42px; height: 39px;
	border: 0; margin: 0; border-radius: 0;
	background: url(img/sprite.svg) -200px -340px no-repeat;
	background-size: 500px 500px;
	text-indent: 50px; white-space: nowrap; overflow: hidden;
	position: fixed; bottom: 10px; left: 50%; margin-left: -21px;
}
	
	@media screen and (min-width: 1060px) {
		#scrolltotop button:hover {
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			transform: scale(1.1);
			cursor: pointer;
		}
	}


/* FONTS */


@font-face {
	font-family: 'Share-Regular';
    src: url('fonts/Share-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Share-Bold';
    src: url('fonts/Share-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Share-Italic';
    src: url('fonts/Share-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Share-TechMono';
    src: url('fonts/Share-TechMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}